<ion-tabs>

  <ion-tab-bar slot="bottom" color="light">
    <ion-tab-button tab="user-search">
      <ion-icon name="search"></ion-icon>
      <!-- <ion-label>{{ 'TASK-BAR.user-search' | translate }}</ion-label> -->
      <ion-label>User-Search</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="user-detail">
      <ion-icon name="list-outline"></ion-icon>
      <!-- <ion-label>{{ 'TASK-BAR.user-detail' | translate }}</ion-label> -->
      <ion-label>User-Detail</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="favourites">
      <ion-icon name="heart-outline"></ion-icon>
      <!-- <ion-label>{{ 'TASK-BAR.favourites' | translate }}</ion-label> -->
      <ion-label>Favourites</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <ion-icon name="information-circle-outline"></ion-icon>
      <!-- <ion-label>{{ 'TASK-BAR.about' | translate }}</ion-label> -->
      <ion-label>About</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>