<ion-tabs>
  <ion-tab-bar slot="bottom" color="light">
    <ion-tab-button tab="user-search">
      <ion-icon name="search"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="user-detail">
      <ion-icon name="list-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="favourites">
      <ion-icon name="heart-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <ion-icon name="information-circle-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
