<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-title> Github Search </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-searchbar
    color="primary"
    type="search"
    placeholder="search name"
    [debounce]="1000"
    (ionInput)="handleInput($event)"
  >
  </ion-searchbar>
  <ion-card *ngFor="let repo of repos$ | async; let index = index;">
    <ion-card-header> {{ repo.name }} </ion-card-header>
    <ion-card-content> {{ repo.description }} </ion-card-content>
  </ion-card>
</ion-content>
